@mixin flex-row-spread-full-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-row-spread-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-col-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-col-align-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}