// Colors

$color-accent1: #19a0e8;
$color-accent2: #1586c4;
$color-button-highlight: #35b6fc;
$color-grad-accent1: #E47727;
$color-grad-accent2: #fca947;
$color-font-regular: #333;
$color-font-pale: #696969;
$color-h2-wrapper: #323232;

$color-topnav-bg: #f0f0f0;


// Fonts

$font-paragraphs: Arial, Helvetica, sans-serif;
$font-title-bold: 'Gotham Pro Black', sans-serif;
$font-title-medium: 'Gotham Pro Medium', sans-serif;
$font-title-regular: 'Gotham Pro Regular', sans-serif;
$font-topnav: 'Gotham Pro Light', sans-serif;